<server description="Flow Open Liberty server">
    <featureManager>
        <feature>webProfile-8.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>

    <webApplication location="stack.war" contextRoot="/stack" />

    <httpEndpoint host="*" httpPort="${default.http.port}"
                  httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <library id="MySqlLib">
        <fileset dir="${server.config.dir}" includes="*.jar" />
    </library>

    <dataSource jndiName="jdbc/StackOverflowOS">
        <jdbcDriver libraryRef="MySqlLib"/>
        <properties databaseName="AMT_STACKOVERFLOW"
                    serverName="localhost" portNumber="9906"
                    user="root" password="root"/>
    </dataSource>

</server>