<server description="Flow Open Liberty server">
    <featureManager>
        <feature>webProfile-8.0</feature>
        <feature>appSecurity-3.0</feature> <!--FIXME : Access ibm/api (to remove)-->
        <feature>restConnector-2.0</feature> <!--FIXME : Access ibm/api (to remove)-->
        <feature>jdbc-4.2</feature> <!--FIXME : Access ibm/api (to remove)-->
    </featureManager>

    <quickStartSecurity userName="admin" userPassword="admin"/> // DEBUG : Access ibm/api

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>

    <!-- doc says it's needed for arquillian: https://youtu.be/4-oMHWgPDdk?t=992 -->
    <applicationMonitor updateTrigger="mbean"/>

    <webApplication location="stack.war" contextRoot="/stack" />

    <httpEndpoint host="*" httpPort="${default.http.port}"
                  httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <library id="MySqlLib">
        <fileset dir="${server.config.dir}" includes="*.jar" />
    </library>

    <dataSource id="DefaultDataSource" jndiName="jdbc/StackDS">
        <jdbcDriver libraryRef="MySqlLib"/>
        <properties databaseName="${DB_DATABASE}"
                    serverName="${DB_HOST}" portNumber="${DB_PORT}"
                    user="${DB_USERNAME}" password="${DB_PASSWORD}"/>
    </dataSource>
</server>